<!-- planning-bracket.ejs -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titre de la page</title>
    <link rel="stylesheet" href="/styles/styles.css"> <!-- Lien vers votre fichier CSS -->
</head>
<body>
    <%- include('partials/header') %> <!-- Inclure le header -->
    
    <h1>Contenu de la page Planning Bracket</h1>

    <!-- Afficher les données du tournoi -->
    <h2>Nom du tournoi : <%= tournamentData.tournament.name %></h2>
    <p>Type de tournoi : <%= tournamentData.tournament.tournament_type %></p>
    <p>Date de création : <%= tournamentData.tournament.created_at %></p>
    <!-- Ajoutez d'autres détails du tournoi selon vos besoins -->

    <%- include('partials/footer') %> <!-- Inclure le footer -->
</body>
</html>
